.shapka {
	height: 80px;
}
.pp {
	height: 50px;
}
.hai {
	height: 800px;
}
.mama {
	margin-left: auto;
	margin-right: auto;
}
.hehe {
	height: 115px;
}
.ha {
	height: 120px;
}
.ga {
	height:200px;
}